@{
    ViewData["Title"] = "Контакты организации";
    Layout = "_LayoutTour";
}

<div class="container">
    <h3 class="mt-3">РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</h3>
    <p>
        <b>
            Полное фирменное наименование:
        </b>
    </p>
    <p>
        Общество с&nbsp;ограниченной ответственностью «ПРОСТО КЭМП»
    </p>
    <p><b>Адрес места нахождения: </b>115230, г. Москва,1-й Нагатинский пр-д, д.&nbsp;10, стр.&nbsp;1, этаж 13.</p>
    <p>
        <b>
            Почтовый адрес:
        </b> 115230, г. Москва,1-й Нагатинский пр-д, д.&nbsp;10, стр.&nbsp;1, этаж 13.
    </p>
    <p>
        <b>ОГРН:</b> 1147746826468
    </p>
    <p>
        <b>ИНН:</b> 7724929270
    </p>
    <p>
        <b>КПП:</b> 772401001
    </p>
    <p>
        <b>
            Банковские реквизиты:
        </b>
    </p>
    <p>Банк: Филиал «Центральный» Банка ВТБ (ПАО) в&nbsp;г. Москве</p>
    <p>р/с 40702810300000093593</p>
    <p>к/с 30101810145250000411&nbsp;в Главном управлении Банка России по&nbsp;Центральному федеральному округу&nbsp;г. Москва</p>
    <p>БИК: 044525411</p>
    <p>КПП: 770943002</p>
    <p>ИНН: 7702070139</p>
    <p><b>Генеральный директор </b>Гладилин Александр Александрович</p>
</div>