@model TourFirm.Models.DataBase.Hotel

@{
    ViewData["Title"] = "Оплата";
    Layout = "_LayoutTour";
}

@section Css {
    <link href="~/css/hotel.css" rel="stylesheet" asp-append-version="true" />
}


<div id="paymentblock">
    <paymentcomponent hotel="@Model.SerializeObjectRefLoopHandl()"></paymentcomponent>
</div>



@section Scripts {
    <script src="~/scripts/PaymentHotel.js" asp-append-version="true"></script>
}