@{
    ViewData["Title"] = "Оферта в отношении обработки персональных данных";
    Layout = "_LayoutTour";
}

<div class="container">
    <h3 class="mt-3">Оферта в отношении обработки персональных данных</h3>
    <div class="mt-3 text-muted">
        Дата создания: 24.08.2021
    </div>
    <div class="mt-3">
        <div>
            <p>
                Настоящая публичная оферта (далее&nbsp;— «Оферта») в&nbsp;соответствии с&nbsp;п.&nbsp;2&nbsp;ст.&nbsp;437 Гражданского кодекса Российской Федерации (далее&nbsp;— «ГК&nbsp;РФ») является официальным предложением общества с&nbsp;ограниченной ответственностью «ПРОСТО КЭМП» (далее по&nbsp;тексту&nbsp;— «Исполнитель»),
                заключить с&nbsp;дееспособным физическим лицом (далее&nbsp;— «Заказчик») договор на&nbsp;оказание услуг
                (далее&nbsp;— «Договор») на&nbsp;условиях, предусмотренных данной Офертой.
            </p>
            <p>Настоящий документ в&nbsp;соответствии со&nbsp;ст.&nbsp;435 и&nbsp;ч.&nbsp;2&nbsp;ст.&nbsp;437 Гражданского кодекса Российской Федерации (далее&nbsp;— «ГК&nbsp;РФ») является публичной офертой. </p>
            <p>Заказчик и&nbsp;Исполнитель далее совместно именуются «Стороны», а&nbsp;по&nbsp;отдельности&nbsp;— «Сторона».</p>
            <p>
                Оферта вступает в&nbsp;силу с&nbsp;момента ее&nbsp;размещения на&nbsp;сайте <a href="https://prosto-kemp.ru">https://prosto-kemp.ru</a>
                в&nbsp;сети Интернет (далее&nbsp;— «Сайт») по&nbsp;адресу:&nbsp;
                <a href="https://prosto-kemp.ru/Oferta/Oferta">https://prosto-kemp.ru/Oferta/Oferta</a>.
                Исполнитель оставляет за&nbsp;собой право внести изменения в&nbsp;условия Оферты и/или отозвать Оферту в&nbsp;любой момент по&nbsp;своему усмотрению
                без какого-либо специального уведомления Заказчика.
                Изменения, внесенные Исполнителем в&nbsp;Оферту, вступают в&nbsp;силу с&nbsp;момента размещения изменений на
                <a href="https://prosto-kemp.ru/Oferta/Oferta">https://prosto-kemp.ru/Oferta/Oferta</a>, если иной срок вступления изменений в&nbsp;силу не&nbsp;определен
                дополнительно при таком размещении.
                Все приложения к&nbsp;Оферте являются ее&nbsp;неотъемлемой частью.
            </p>
            <h5>ПОРЯДОК ЗАКЛЮЧЕНИЯ ДОГОВОРА</h5>
            <p>
                В&nbsp;соответствии со&nbsp;ст.ст.&nbsp;434, 435, 438&nbsp;ГК РФ&nbsp;Договор заключается путем акцепта Оферты Заказчиком, то&nbsp;есть
                выражением Заказчиком полного и&nbsp;безоговорочного принятия условий Оферты.
            </p>
            <p>Акцептом Оферты в&nbsp;соответствии со&nbsp;ст.438&nbsp;ГК РФ&nbsp;является выполнение Заказчиком следующего действия:</p>
            <p>—&nbsp;нажатие Заказчиком на&nbsp;последнем этапе оформления заказа на&nbsp;Сайте, соответствующей кнопки перехода к&nbsp;оплате&nbsp;или бронированию на&nbsp;Сайте</p>
            <p>Моментом заключения Договора считается момент получения Исполнителем акцепта Оферты Заказчиком. Местом заключения Договора считается город Москва.</p>
            <p>
                До&nbsp;совершения акцепта Оферты Заказчик обязан ознакомиться со&nbsp;всеми условиями настоящей Оферты. Заказчик, совершивший акцепт Оферты, считается ознакомившимся и&nbsp;согласным со&nbsp;всеми условиями Оферты в&nbsp;том виде, в&nbsp;каком они изложены в&nbsp;тексте Оферты, и&nbsp;в&nbsp;соответствии с&nbsp;ГК&nbsp;РФ&nbsp;рассматривается как лицо, вступившее с&nbsp;Исполнителем в&nbsp;договорные отношения. При этом Договор в&nbsp;соответствии со&nbsp;ст.ст.&nbsp;434, 435, 438&nbsp;ГК РФ&nbsp;считается заключенным в&nbsp;письменной форме на&nbsp;условиях настоящей Оферты и&nbsp;является равносильным Договору, подписанному двумя Сторонами.
                Принимая условия Оферты, Заказчик полностью подтверждает свои право- и&nbsp;дееспособность для заключения Договора, финансовую состоятельность, а&nbsp;также осознает ответственность за&nbsp;обязательства, возложенные на&nbsp;него в&nbsp;результате заключения Договора.
            </p>
            <h5>	1. ТЕРМИНЫ И&nbsp;ОПРЕДЕЛЕНИЯ</h5>
            <p>
                <b> Заказ</b>&nbsp;— должным образом оформленный и&nbsp;сформированный посредством Сайта запрос Заказчика на&nbsp;получение услуг,
                выбранных Заказчиком на&nbsp;Сайте, и&nbsp;определенных в&nbsp;соответствующих приложениях к&nbsp;Оферте.
            </p>
            <p>
                <b>Заказчик</b>&nbsp;— дееспособное физическое лицо, достигшее 18&nbsp;лет, заключившее Договор и&nbsp;разместившее
                Заказ на&nbsp;получение указанных на&nbsp;Сайте услуг, согласованных Сторонами в&nbsp;
                соответствующих приложениях к&nbsp;Оферте, и&nbsp;приобретающее их&nbsp;на&nbsp;свое имя или на&nbsp;имя третьих лиц (далее&nbsp;— <b>«Третьи лица»</b>) для личных, семейных, домашних и&nbsp;иных нужд, не&nbsp;связанных с&nbsp;осуществлением предпринимательской деятельности.
            </p>
            <p><b>Личный кабинет</b>&nbsp;— индивидуальный раздел Заказчика на&nbsp;Сайте, защищенный параметрами авторизации, доступ к&nbsp;которому осуществляется путем ввода идентифицирующих данных (логин и&nbsp;пароль), в&nbsp;котором содержится информация по&nbsp;Заказу. Личный кабинет регистрируется на&nbsp;адрес электронной почты Заказчика автоматически после совершения Заказа на&nbsp;Сайте, или после прохождения регистрации пользователя на&nbsp;Сайте.</p>
            <p><b>Логин и&nbsp;пароль</b>&nbsp;— наборы латинских букв и&nbsp;цифр, необходимые для доступа в&nbsp;Личный кабинет, которые в&nbsp;сочетании служат идентифицирующими данными Заказчика. Действия, совершенные в&nbsp;Личном кабинете с&nbsp;использованием Логина и&nbsp;пароля Заказчика, признаются действиями Заказчика.</p>
            <p>
                <b>Поставщик услуг или Поставщики услуг</b>&nbsp;— перевозчики, фрахтователи, организации, предоставляющие услуги по&nbsp;временному размещению и&nbsp;проживанию.
            </p>
            <p><b>Сайт <a href="https://prosto-kemp.ru">https://prosto-kemp.ru</a> далее&nbsp;— «Сайт»)</b>&nbsp;— используемый самостоятельный составной мультимедийный продукт в&nbsp;значении&nbsp;ст.&nbsp;1260&nbsp;ГК РФ, модули и&nbsp;кросс-модульные компоненты которого используются Исполнителем на&nbsp;законных основаниях для оказания услуг, предусмотренных целями Оферты, а&nbsp;также лицензионными и&nbsp;техническими ограничениями. Сайт представляет собой совокупность связанных между собой текстов, графических элементов, фото и&nbsp;видео материалов, программ для ЭВМ, в&nbsp;том числе кроссплатформенных клиент-серверных приложений, программных модулей, баз данных, веб-страниц, кросс-модульных компонентов и&nbsp;иных элементов, алгоритмически объединенных по&nbsp;тематическому, техническому и&nbsp;функциональному признаку и&nbsp;предназначенных для доведения информации до&nbsp;всеобщего сведения, получения информации, обмена и&nbsp;осуществления иного функционала в&nbsp;сети Интернет через обращение к&nbsp;доменам или поддоменам prosto-kemp. В&nbsp;целях Оферты под доменом (доменным именем) понимается уникальный адрес в&nbsp;сети Интернет, используемый Исполнителем на&nbsp;законных основаниях и&nbsp;служащий для доступа Заказчика к&nbsp;Сайту и&nbsp;программным модулям соответственно.&nbsp;</p>
            <h5>2. ПРЕДМЕТ ОФЕРТЫ</h5>
            <p>2.1. Исполнитель принимает на&nbsp;себя обязательства с&nbsp;помощью Сайта оказывать Заказчику в&nbsp;соответствии с&nbsp;его Заказом услуги, согласованные Сторонами в&nbsp;соответствующих приложениях к&nbsp;Оферте, а&nbsp;Заказчик обязуется принять и&nbsp;оплатить оказанные Исполнителем услуги. </p>
            <p>2.2. Виды подлежащих оказанию Исполнителем Заказчику на&nbsp;основании Заказа услуг и&nbsp;их&nbsp;стоимость, сроки и&nbsp;иные существенные условия оказания Исполнителем Заказчику услуг приведены в&nbsp;соответствующих приложениях к&nbsp;Оферте, являющихся неотъемлемой частью Оферты (далее&nbsp;— «Приложения или Приложение»).</p>
            <p>2.3. Все договоры перевозок пассажиров заключаются Заказчиком и/или пассажиром непосредственно с&nbsp;перевозчиками, оказывающими соответствующие пассажирские перевозки. Услуги по&nbsp;временному размещению и&nbsp;проживанию оказываются соответствующими Поставщиками услуг.</p>
            <p>Исполнитель при обработке Заказа&nbsp;выступает&nbsp;как продавец электронных билетов, который
            не&nbsp;несет ответственность за&nbsp;какие-либо иные компоненты путешествия Заказчика или Третьего лица, такие как получение виз и&nbsp;
            иных разрешений на&nbsp;выезд, проверку действительности, получение и&nbsp;наличие документов, подтверждающих личность Заказчика 
            или Третьего лица, страховых полисов, трансфер, перелеты по&nbsp;билетам, приобретенным на&nbsp;рейсы разных перевозчиков и&nbsp;
            стыковки между ними и&nbsp;иными обстоятельствами.</p>
            <h5>3. ОБЯЗАННОСТИ И&nbsp;ПРАВА СТОРОН</h5>
            <p>3.1. <b>Исполнитель обязан:</b></p>
            <p>3.1.1. своевременно и&nbsp;надлежащим образом оказать Заказчику услуги, указанные в&nbsp;п.&nbsp;2.1. Оферты, в&nbsp;точном соответствии с&nbsp;Заказом, оформляемым Заказчиком посредством Сайта, и&nbsp;оформить все необходимые документы, в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации и&nbsp;правилами, установленными соответствующими Поставщиками услуг (далее&nbsp;— «Документ» или «Документы»);</p>
            <p>3.1.2. с&nbsp;помощью Сайта предоставлять необходимую информацию и&nbsp;техническую возможность Заказчику использовать Сайт и&nbsp;размещенные на&nbsp;них сервисы с&nbsp;целью получения услуг, указанных в&nbsp;соответствующих Приложениях к&nbsp;Оферте;</p>
            <p>3.1.3. в&nbsp;процессе оформления Заказа предоставить Заказчику путем размещения на&nbsp;Сайтеинформацию в&nbsp;том виде, в&nbsp;котором она была предоставлена от&nbsp;Поставщиков услуг, об&nbsp;условиях перевозки или временного размещения и&nbsp;проживания, информацию, касающуюся условий заключения/изменения договора перевозки или временного размещения и&nbsp;проживания, правилах применения тарифов Поставщиков соответствующих услуг и&nbsp;иную необходимую информацию;</p>
            <p>3.1.4. предоставить Заказчику доступ в&nbsp;Личный кабинет. </p>
            <p>3.2. <b>Исполнитель вправе:</b></p>
            <p>3.2.1. взимать в&nbsp;соответствии с&nbsp;разделом 5&nbsp;Оферты стоимость услуг Исполнителя за&nbsp;оказание Исполнителем Заказчику от&nbsp;своего имени услуг, указанных в&nbsp;соответствующих Приложениях к&nbsp;Оферте (далее&nbsp;— «Сервисный сбор»). Сервисный сбор не&nbsp;подлежит возврату ни&nbsp;при каких обстоятельствах, за&nbsp;исключением случаев, указанных в&nbsp;соответствующих Приложениях к&nbsp;Оферте;</p>
            <p>
                3.2.2. отказать в&nbsp;оформлении Заказа, аннулировать Заказ, при наличии достаточных к&nbsp;тому оснований, в&nbsp;том числе, в&nbsp;случае отсутствия необходимых данных для оказания услуг, указанных в&nbsp;п.&nbsp;2.1. Оферты, наличия признаков мошеннических операций с&nbsp;платежными картами, не&nbsp;завершения Заказчиком процедуры Заказа и/или оплаты Заказа, отмены бронирования соответствующими Поставщиками услуг и&nbsp;в&nbsp;иных случаях;
            </p>
            <p>3.2.3. лишить Заказчика доступа к&nbsp;Сайту в&nbsp;любое время по&nbsp;причине нарушения законных требований Поставщиков услуг или совершения иных противоправных действий. В&nbsp;этом случае Исполнитель не&nbsp;несет какой-либо ответственности за&nbsp;возможные последствия такого решения;</p>
            <p>3.2.4. вносить любые изменения на&nbsp;Сайт, приостанавливать их&nbsp;работу при обнаружении существенных неисправностей, ошибок и&nbsp;сбоев, а&nbsp;также в&nbsp;целях 
            проведения профилактических работ и&nbsp;предотвращения случаев несанкционированного доступа к&nbsp;Сайту </p>
            <p>3.2.5. оказывать содействие Заказчику через службу поддержки по&nbsp;телефонам, номера которых указаны в&nbsp;соответствующих Приложениях к&nbsp;Оферте.</p>
            <p>3.3. <b>Заказчик обязан:</b></p>
            <p>3.3.1. оплатить стоимость Заказа,&nbsp;Сервисный сбор, оговоренный в соответствующих Приложениях к Оферте,&nbsp;в&nbsp;размере, порядке и&nbsp;сроки, установленные в&nbsp;разделе 5&nbsp;Оферты;</p>
            <p>3.3.2. оформлять Заказ на&nbsp;Сайтев&nbsp;соответствии с&nbsp;разделом 4&nbsp;Оферты;</p>
            <p>3.3.3. своевременно информировать Исполнителя о&nbsp;необходимости отмены Заказа или внесения в&nbsp;него изменений в&nbsp;порядке, указанном в&nbsp;соответствующих Приложениях к&nbsp;Оферте;</p>
            <p>3.3.4. проверять полученные по&nbsp;соответствующему Заказу на&nbsp;адрес электронный почты, указанный Заказчиком при оформлении Заказа, Документы на&nbsp;предмет возможных ошибок сразу после их&nbsp;направления Исполнителем и&nbsp;незамедлительно информировать Исполнителя о&nbsp;выявленных ошибках;</p>
            <p>3.3.5. указать достоверные личные данные при оформлении Заказа, как собственные, так и&nbsp;Третьих лиц. В&nbsp;случае предоставления Заказчиком недостоверной информации при оформлении Заказа, риск отказа в&nbsp;предоставлении услуг Поставщиками услуг лежит на&nbsp;Заказчике; </p>
            <p>
                3.3.6. самостоятельно ознакомиться с&nbsp;условиями Оферты, требованиями таможенного, паспортного, визового и&nbsp;иного контроля стран на&nbsp;выбранном маршруте, в&nbsp;том числе касающихся сроков действия документов, удостоверяющих личность, и&nbsp;правилами провоза багажа, груза и&nbsp;ценностей, с&nbsp;правилами бронирования и&nbsp;тарифами Поставщиков услуг, в&nbsp;том числе условиями обмена/возврата услуг в&nbsp;Заказе и&nbsp;применимыми штрафными санкциями, установленными соответствующими Поставщиками услуг, об&nbsp;условиях договора, заключенного с&nbsp;Поставщиком услуг, и&nbsp;прочими условиями, а&nbsp;также Заказчик обязан самостоятельно довести указанную в&nbsp;настоящем пункте Оферты информацию до&nbsp;сведения всех Третьих лиц, для которых бронируются, оформляются и&nbsp;приобретаются услуги, выбранные Заказчиком на&nbsp;Сайте;
            </p>
            <p>3.3.7. не&nbsp;сообщать третьим лицам Логин и&nbsp;пароль, необходимые для доступа в&nbsp;Личный кабинет, и&nbsp;предпринимать меры для сохранения в&nbsp;тайне данной информации. В&nbsp;случае возникновения у&nbsp;Заказчика подозрений относительно безопасности его Логина и&nbsp;пароля или возможности их&nbsp;несанкционированного использования третьими лицами, Заказчик незамедлительно изменяет свой пароль, используя Личный кабинет.</p>
            <p>3.4. <b>Заказчик вправе:</b></p>
            <p>3.4.1. получить необходимую информацию о&nbsp;Заказе в&nbsp;службе поддержки Исполнителя по&nbsp;телефонам, номера которых указаны в&nbsp;соответствующих Приложениях к&nbsp;Оферте.</p>
            <h5>4. ОБЩИЙ ПОРЯДОК ОФОРМЛЕНИЯ, ВНЕСЕНИЕ ИЗМЕНЕНИЙ И&nbsp;ОТМЕНЫ ЗАКАЗА</h5>
            <p>4.1. Со&nbsp;всеми условиями Заказа Заказчик знакомится в&nbsp;процессе его оформления на&nbsp;Сайте. В&nbsp;случае, если Заказчику не&nbsp;понятны какие-либо условия Заказа, в&nbsp;том числе условия возврата, Заказчик обязан перед оформлением Заказа уточнить необходимую ему информацию у&nbsp;Исполнителя по&nbsp;телефонам, номера которых указаны в&nbsp;Приложениях к&nbsp;Оферте, либо через форму обратной связи на&nbsp;Сайте.</p>
            <p>4.2. Оформление Заказа осуществляется Заказчиком самостоятельно на&nbsp;Сайте путем выбора необходимого ему типа услуг.</p>
            <p>4.3. Ознакомившись с&nbsp;условиями услуг, Заказчик должен корректно заполнить все поля, указанные на&nbsp;Сайте, как «обязательные» для заполнения. При этом Заказчик несет ответственность за&nbsp;точность, полноту и&nbsp;достоверность указанных данных.</p>
            <p>4.4. Заказы, оформленные на&nbsp;Сайте, носят окончательный характер и&nbsp;подлежат оплате. Все условия Заказа, в&nbsp;том числе внесение любых изменений в&nbsp;оформленные Заказы, отмена Заказа, равно как и&nbsp;другие условия Заказа, регламентируются соответствующими Приложениями к&nbsp;Оферте, правилами применения тарифов Поставщиков услуг, действующим законодательством&nbsp;РФ, а&nbsp;также применимыми международными нормами.</p>
            <p>4.5. В&nbsp;случае изменения/отмены Заказа после его оформления в&nbsp;каждом конкретном случае применяются соответствующие правила Поставщиков услуг, Заказчик обязан оплатить все штрафные санкции, предусмотренные правилами Поставщиков услуг, Сервисный сбор Исполнителя. </p>            
            <p>4.6. В&nbsp;случае расхождения информации, указанной в&nbsp;направленном Исполнителем на&nbsp;адрес электронной почты Заказчика, указанный при оформлении Заказа, Документе с&nbsp;информацией, указанной в&nbsp;письмах или смс-сообщениях, направляемых Исполнителем Заказчику на&nbsp;адрес электронной почты и&nbsp;номер телефона, указанные при оформлении Заказа, соответственно, Заказчик обязан руководствоваться информацией, указанной в&nbsp;Документе, направленном Исполнителем на&nbsp;адрес электронной почты, указанный Заказчиком при оформлении Заказа или на&nbsp;сайте соответствующего Поставщика услуг. </p>
            <h5>5. ПОРЯДОК РАСЧЕТОВ</h5>
            <p>5.1. Стоимость Заказа определяется при оформлении Заказа и&nbsp;может включать в&nbsp;себя Сервисный сбор, оговоренный в&nbsp;соответствующих Приложениях к&nbsp;Оферте. Окончательная стоимость Заказа отображается в&nbsp;российских рублях.</p>
            <p>Сервисный сбор, взимаемый Исполнителем за&nbsp;оказание Заказчику услуг от&nbsp;своего имени в&nbsp;соответствии с&nbsp;Офертой, включает в&nbsp;себя НДС согласно ставке, установленной в&nbsp;Налоговом кодексе Российской Федерации. </p>
            <p>5.2. Заказ должен быть оплачен одним из&nbsp;способов, предложенных на&nbsp;Сайте. Прием платежей осуществляется с&nbsp;использованием платежных систем, которые вправе отказать в&nbsp;проведении платежа.</p>
            <p>
                5.2.1. Особенности оплаты Заказа с&nbsp;помощью банковских карт:
            </p>
            <p>Оплата Заказа осуществляется с&nbsp;помощью банковских карт Visa, Visa Electron, MasterCard, Maestro платежных систем Visa, MasterCard и&nbsp;банковской карты национальной платежной системы Мир.</p>
            <p>Оплата по&nbsp;банковской карте производится после проверки и&nbsp;подтверждения Заказа с&nbsp;переадресацией на&nbsp;платежный шлюз.</p>
            <p>
                Заказчик гарантирует, что является держателем банковской карты, с&nbsp;использованием которой производится оплата Заказа, и&nbsp;несет полную ответственность перед Исполнителем за&nbsp;нарушение указанной гарантии.
                Не&nbsp;допускается оплата Заказа Заказчиком с&nbsp;помощью банковской карты, если он&nbsp;не&nbsp;является ее&nbsp;держателем.
            </p>
            <p>При оплате Заказа Заказчик&nbsp;— держатель банковской карты вводит следующие реквизиты банковской карты: номер банковской карты (без пробелов), имя и&nbsp;фамилию держателя банковской карты, срок действия банковской карты, верификационный номер карты (СVV2 для Visa или CVC2 для MasterCard или код безопасности «MirAccept» для МИР).</p>
            <p>Передача этих сведений производится с&nbsp;соблюдением всех необходимых мер безопасности. Платежный шлюз соответствует международным стандартам безопасности систем Visa и&nbsp;MasterCard, требованиям безопасности системы Мир и&nbsp;стандарту повышенной надежности PCI&nbsp;DSS 3.1.</p>
            <p>Конфиденциальность указанных Заказчиком реквизитов и&nbsp;платежей гарантируется защищенным режимом передачи данных (SSL).</p>
            <p>Если банк-эмитент Заказчика поддерживает технологию 3D&nbsp;Secure, то&nbsp;в&nbsp;соответствии с&nbsp;требованиями технологии 3D&nbsp;Secure при оплате Заказа банк-эмитент может потребовать от&nbsp;Заказчика&nbsp;— держателя банковской карты пройти дополнительную идентификацию. Необходимость проведения дополнительной идентификации и&nbsp;ее&nbsp;способ определяется банком-эмитентом или платежным шлюзом.</p>
            <p>В&nbsp;случае, если валюта банковской карты Заказчика отлична от&nbsp;российских рублей, банк-эмитент карты Заказчика конвертирует указанную сумму в&nbsp;валюту&nbsp;РФ (рубли) по&nbsp;своему внутреннему курсу, таким образом, сумма в&nbsp;валюте карты может отличаться от&nbsp;окончательной стоимости Заказа. Своей оплатой Заказчик подтверждает, что до&nbsp;момента оплаты получил информацию о&nbsp;внутреннем курсе банка-эмитента карты и&nbsp;размере комиссии банка за&nbsp;конвертацию и&nbsp;ознакомлен с&nbsp;окончательной стоимостью Заказа в&nbsp;валюте карты.</p>
            <p>Оплата считается произведенной после авторизации банком-эмитентом банковской карты Заказчика.</p>
            <p>5.3. Исполнитель оставляет за&nbsp;собой право запросить дополнительные документы, удостоверяющие личность Заказчика, с&nbsp;целью подтверждения правомочности использования банковской карты и&nbsp;в&nbsp;иных случаях.</p>
            <p>
                5.4. Производя оплату Заказа или при бронировании, если такая возможность предусмотрена Сайтом
                , Заказчик подтверждает свое согласие с&nbsp;Офертой, подтверждает правильность внесения своих данных, 
                а&nbsp;также данных Третьих лиц, ознакомление с&nbsp;информацией, размещенной на&nbsp;Сайте, 
                выражает свое согласие с&nbsp;окончательной стоимостью Заказа, которая может включать Сервисный сбор, 
                условиями возврата или обмена билетов либо специальными условиями возврата, а&nbsp;также подтверждает свое согласие со&nbsp;всеми 
                реквизитами поездки, в&nbsp;том числе датами поездки, временем поездки, или условиями временного размещения и&nbsp;проживания, в&nbsp;том 
                числе датами предполагаемых заезда и&nbsp;выезда, информацией о&nbsp;категории номера, конфигурации кроватей, информацией 
                о&nbsp;предоплате (при её&nbsp;наличии), условиями о&nbsp;возможности и&nbsp;сроках отмены бронирования услуг по&nbsp;временному 
                размещению и&nbsp;проживанию, последствиях несвоевременной отмены бронирования и&nbsp;незаезда пользователя услуг временного размещения и&nbsp;проживания.
            </p>
            <p>5.5. Информацию о&nbsp;подтверждении оплаты Заказа Заказчик получает в&nbsp;виде смс-сообщения на&nbsp;номер телефона, который указан Заказчиком при оформлении Заказа.</p>
            <p>5.6. Датой исполнения обязательств Заказчика по&nbsp;оплате окончательной стоимости Заказа является дата зачисления денежных средств на&nbsp;расчетный счет Исполнителя.</p>
            <h5>6. ОТВЕТСТВЕННОСТЬ</h5>
            <p>6.1. Исполнитель не&nbsp;несет ответственность за&nbsp;невозможность оформления и/или оплаты Заказа, вызванную:</p>
            <p>6.1.1. ошибками, неточностями при предоставлении Заказчиком необходимых данных;</p>
            <p>6.1.2. сбоями Сайта, в&nbsp;том числе в&nbsp;системе бронирования;</p>
            <p>6.1.3. нарушениями в&nbsp;системе компьютерной защиты Заказчика.</p>
            <p>6.2. Исполнитель может лишить Заказчика доступа к&nbsp;Сайту в&nbsp;любое время без объяснения причин. В&nbsp;этом случае Исполнитель не&nbsp;несет какой-либо ответственности за&nbsp;возможные последствия такого решения.</p>
            <p>6.3. Исполнитель не&nbsp;несет ответственность за&nbsp;нарушение Заказчиком и/или Третьим лицом требований воздушного, таможенного, пограничного законодательства, правил паспортного, визового и&nbsp;иного контроля стран на&nbsp;выбранном маршруте, в&nbsp;том числе касающихся сроков действия документов, удостоверяющих личность, правил провоза багажа, груза и&nbsp;ценностей, нарушения особых правил поведения в&nbsp;стране временного пребывания, повлекших неблагоприятные для Заказчика и/или Третьего лица последствия, в&nbsp;том числе в&nbsp;виде убытков.</p>
            <p>6.4. Исполнитель не&nbsp;несет ответственность за&nbsp;негативные последствия и&nbsp;убытки, возникшие у&nbsp;Заказчика и/или Третьего лица в&nbsp;результате событий и&nbsp;обстоятельств, находящихся вне сферы его компетенции, а&nbsp;также за&nbsp;действия (бездействие) третьих лиц, а&nbsp;именно:</p>
            <p>—&nbsp;в&nbsp;случае невозможности выполнения принятых на&nbsp;себя обязательств, вследствие недостоверности, недостаточности и&nbsp;несвоевременности сведений и&nbsp;документов, предоставленных Заказчиком, или нарушения Заказчиком условий Оферты или требований к&nbsp;документам;</p>
            <p>—&nbsp;за&nbsp;действия Поставщиков услуг (изменение, отмена, перенос, задержка отправления транспортного средства&nbsp;/ воздушного судна, качество обслуживания), за&nbsp;сохранность, потерю или повреждение багажа, груза, ценностей и&nbsp;документов Заказчика и/или Третьего лица в&nbsp;течение всего срока их&nbsp;поездки или временного размещения и&nbsp;проживания. В&nbsp;этих случаях ответственность перед Заказчиком и/или Третьим лицом несут Поставщики услуг в&nbsp;соответствии международными правилами и&nbsp;действующим законодательством РФ. Претензии Третьих лиц рассматриваются Поставщиками услуг на&nbsp;основе законодательства&nbsp;РФ и&nbsp;правил международных перевозок;</p>
            <p>—&nbsp;за&nbsp;действия таможенных и&nbsp;иммиграционных властей;</p>
            <p>—&nbsp;вследствие ограничения права Заказчика и/или Третьих лиц на&nbsp;выезд из&nbsp;РФ компетентными органами или иного пункта отправления компетентными органами соответствующей страны;</p>
            <p>—&nbsp;за&nbsp;действия консульств иностранных государств, в&nbsp;том числе за&nbsp;задержку, отказ или изменение сроков выдачи въездных виз;</p>
            <p>
                —&nbsp;за&nbsp;отсутствие у&nbsp;Заказчика и/или Третьих лиц проездных документов;
                —&nbsp;за&nbsp;неявку или опоздание Заказчика и/или Третьих лиц к&nbsp;месту отправления транспортного средства&nbsp;/ воздушного судна;
            </p>
            <p>—&nbsp;за&nbsp;несоблюдение Заказчиком и/или Третьими лицами установленных соответствующим Поставщиком услуг правил поведения в&nbsp;транспортном средстве&nbsp;/ на&nbsp;воздушном судне, отеле или ином объекте временного размещения и&nbsp;проживания;</p>
            <p>—&nbsp;за&nbsp;отсутствие у&nbsp;Заказчика и/или Третьих лиц оформленных заграничных паспортов к&nbsp;моменту начала поездки (при необходимости), соответствующих документов, регулирующих вопросы выезда несовершеннолетних детей. Исполнитель не&nbsp;несет ответственности за&nbsp;сбор и&nbsp;подготовку Заказчиком и/или Третьим лицом всех документов, необходимых для пользования услугами Поставщиков услуг. Заказчик и/или Третье лицо принимает на&nbsp;себя обязательства и&nbsp;всю ответственность по&nbsp;самостоятельному сбору и&nbsp;подготовке всех необходимых для поездки документов, таких как виза или действительный паспорт, а&nbsp;также документов, необходимых для выезда несовершеннолетних детей. Исполнитель не&nbsp;несет ответственности за&nbsp;незнание или несоблюдение Третьим лицом данных требований;</p>
            <p>—&nbsp;за&nbsp;подлинность и&nbsp;правильность оформления документов (достоверность содержащихся в&nbsp;них сведений).</p>
            <p>6.5. Поставщики услуг несут ответственность перед пассажирами или пользователями услуг по&nbsp;временному размещению и&nbsp;проживанию в&nbsp;порядке, установленном законодательством Российской Федерации, международными нормами, договором перевозки или договором оказания услуг по&nbsp;временному размещению и&nbsp;проживанию.</p>
            <p>6.6. Стороны несут ответственность за&nbsp;неисполнение или ненадлежащее исполнение обязательств, предусмотренных Офертой, в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации.</p>
            <p>
                6.7. Исполнитель не&nbsp;несет ответственности за&nbsp;действия третьих лиц, повлекшие кражу/утерю Логина или пароля от&nbsp;Личного кабинета, а&nbsp;также любые расходы, ущерб и/или упущенную выгоду, возникшие у&nbsp;Заказчика в&nbsp;связи с&nbsp;несанкционированным доступом третьих лиц в&nbsp;Личный кабинет.
            </p>
            <p>6.8. За&nbsp;правильность указания реквизитов поездки и&nbsp;персональных данных Заказчика и/или Третьего лица полную ответственность несет Заказчик, оформляющий Заказ.</p>
            <p>6.9. Исполнитель не&nbsp;может гарантировать полное отсутствие неточностей в&nbsp;информации, предоставляемой Исполнителю Поставщиками услуг, в&nbsp;связи с&nbsp;чем не&nbsp;несет перед Заказчиком или Третьим лицом ответственности за&nbsp;любые ошибочные данные в&nbsp;информации, указанной в&nbsp;п.3.1.3. Оферты, равно как и&nbsp;за&nbsp;причиненный Заказчику или Третьему лицу вред или убытки из-за наличия в&nbsp;размещаемой на&nbsp;Сайтеинформации.</p>
            <p>6.10. Исполнитель не&nbsp;несет ответственности за&nbsp;несоблюдение Поставщиками услуг или их&nbsp;представителями условий предоставления 
            услуг по&nbsp;перевозке, услуг по&nbsp;временному размещению и&nbsp;проживанию, правил обслуживания и&nbsp;пунктуальности, так как это находится 
            в&nbsp;исключительном ведении Поставщиков услуг. Поставщики услуг, представленные на&nbsp;Сайте, являются независимыми контрагентами и&nbsp;не&nbsp;являются агентами или сотрудниками Исполнителя.</p>
            <p>6.11. Исполнитель не&nbsp;отвечает за&nbsp;действия, ошибки, нарушения правил, гарантий или халатность Поставщика услуг, или любой из&nbsp;компаний, предоставляющих услуги по&nbsp;перевозке или временному размещению и&nbsp;проживанию, а&nbsp;также за&nbsp;возникшие в&nbsp;результате этих факторов вред здоровью, смерть, ущерб имуществу или другого рода моральный и&nbsp;материальный ущерб или затраты.</p>
            <p>6.12. Исполнитель не&nbsp;несет ответственность и&nbsp;не&nbsp;возмещает расходы в&nbsp;случае задержек или отмен рейсов, незаселения, забастовок, форс-мажорных обстоятельств и&nbsp;по&nbsp;любым другим поводам, не&nbsp;находящимся под непосредственным контролем Исполнителя. Также Исполнитель не&nbsp;несет ответственности за&nbsp;любые дополнительные расходы, недомолвки, задержки, изменения маршрутов, действия/бездействия органов государственной власти или иных уполномоченных служб и&nbsp;ведомств.</p>
            <p>6.13. Исполнитель не&nbsp;несет ответственности за&nbsp;качество и&nbsp;защищенность используемых Заказчиком каналов связи при 
            использовании Сайта, равно как и&nbsp;за&nbsp;любой ущерб, причиненный Заказчику в&nbsp;результате использования им&nbsp;некачественных или незащищенных каналов связи.</p>
            <h5>7. ФОРС-МАЖОР</h5>
            <p>7.1. Стороны освобождаются от&nbsp;ответственности за&nbsp;ненадлежащее исполнение или неисполнение обязательств в&nbsp;случае наступления обстоятельств непреодолимой силы, к&nbsp;которым относятся, но&nbsp;не&nbsp;ограничиваются перечисленным: пожар, наводнение, землетрясение и&nbsp;иные стихийные бедствия, военные действия, забастовка, террористический акт, акты государственных органов и&nbsp;иные обстоятельства, за&nbsp;которые сторона не&nbsp;отвечает и&nbsp;которые невозможно предотвратить.</p>
            <p>7.2. При возникновении обстоятельств непреодолимой силы Сторона, ссылающаяся на&nbsp;такие обстоятельства, обязана письменно известить другую Сторону о&nbsp;наступлении указанных обстоятельств путем письменного уведомления в&nbsp;3-дневный срок и&nbsp;доказать действие обстоятельств непреодолимой силы достоверными документами, выданными торгово-промышленной палатой или иным компетентным органом. В&nbsp;противном случае Сторона лишается права ссылаться на&nbsp;указанные обстоятельства как на&nbsp;основание освобождения ее&nbsp;от&nbsp;ответственности за&nbsp;неисполнение обязательств по&nbsp;Договору.</p>
            <p>7.3. При наступлении таких обстоятельств срок исполнения обязательств отодвигается соразмерно времени, в&nbsp;течение которого будут действовать такие обстоятельства.</p>
            <h5>8. РАЗРЕШЕНИЕ СПОРОВ</h5>
            <p>8.1. В&nbsp;случае возникновения претензий со&nbsp;стороны Заказчика он&nbsp;должен обратиться в&nbsp;службу поддержки по&nbsp;телефону, номер которого указан в&nbsp;соответствующем Приложении к&nbsp;Оферте, или предъявить претензию в&nbsp;письменной форме Исполнителю.</p>
            <p>8.2. Все споры Сторон по&nbsp;настоящему Договору подлежат разрешению путем переписки и&nbsp;переговоров с&nbsp;использованием обязательного досудебного (претензионного) порядка. В&nbsp;случае невозможности достичь согласия между Сторонами путем переговоров в&nbsp;течение&nbsp;60 (шестидесяти) календарных дней с&nbsp;момента получения другой Стороной письменной претензии, спор подлежит рассмотрению в&nbsp;суде по&nbsp;месту нахождения Исполнителя.</p>
            <p>8.3. Признание судом недействительности какого-либо положения настоящего Договора не&nbsp;влечет за&nbsp;собой недействительность остальных его положений.</p>
            <h5>9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h5>
            <p>9.1. Договор вступает в&nbsp;силу с&nbsp;момента акцепта Оферты в&nbsp;соответствии с&nbsp;разделом «Порядок заключения Договора» Оферты и&nbsp;действует в&nbsp;течение&nbsp;1 (одного) года.</p>
            <p>9.2. К&nbsp;отношениям между Исполнителем и&nbsp;Заказчиком применяется законодательство Российской Федерации.</p>
            <p>9.3. Исполнитель и&nbsp;Заказчик пришли к&nbsp;соглашению, что Исполнитель не&nbsp;предоставляет Заказчику счета-фактуры на&nbsp;сумму Сервисного сбора Исполнителя.</p>
            <p><b>Осуществляя акцепт Оферты, Заказчик соглашается со&nbsp;всеми условиями Оферты, итоговой суммой к&nbsp;оплате, включая все налоги и&nbsp;сборы.</b></p>
            <h5>10. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</h5>
            <p>
                <b>
                    Полное фирменное наименование:
                </b>
            </p>
            <p>
                Общество с&nbsp;ограниченной ответственностью «ПРОСТО КЭМП»
            </p>
            <p><b>Адрес места нахождения: </b>115230, г. Москва,1-й Нагатинский пр-д, д.&nbsp;10, стр.&nbsp;1, этаж 13.</p>
            <p>
                <b>
                    Почтовый адрес:
                </b> 115230, г. Москва,1-й Нагатинский пр-д, д.&nbsp;10, стр.&nbsp;1, этаж 13.
            </p>
            <p>
                <b>ОГРН:</b> 1147746826468
            </p>
            <p>
                <b>ИНН:</b> 7724929270
            </p>
            <p>
                <b>КПП:</b> 772401001
            </p>
            <p>
                <b>
                    Банковские реквизиты:
                </b>
            </p>
            <p>Банк: Филиал «Центральный» Банка ВТБ (ПАО) в&nbsp;г. Москве</p>
            <p>р/с 40702810300000093593</p>
            <p>к/с 30101810145250000411&nbsp;в Главном управлении Банка России по&nbsp;Центральному федеральному округу&nbsp;г. Москва</p>
            <p>БИК: 044525411</p>
            <p>КПП: 770943002</p>
            <p>ИНН: 7702070139</p>
            <p><b>Генеральный директор </b>Гладилин Александр Александрович</p>
        </div>
        <div>
            <p>&nbsp;</p>
            <ul class="list-unstyled">
                <li><a href="#supplement_1">Приложение №&nbsp;1&nbsp;(УСЛОВИЯ ОФОРМЛЕНИЯ ЗАКАЗОВ НА&nbsp;УСЛУГИ ВРЕМЕННОГО РАЗМЕЩЕНИЯ И&nbsp;ПРОЖИВАНИЯ)</a></li>
            </ul>
            <p>&nbsp;</p>
            <p id="supplement_1">
                <b>
                    Приложение №&nbsp;1
                </b>
            </p>
            <p>
                <b>
                    к&nbsp;публичной оферте о&nbsp;заключении договора на&nbsp;оказание услуг
                </b>
            </p>
            <p>УСЛОВИЯ ОФОРМЛЕНИЯ ЗАКАЗОВ НА&nbsp;УСЛУГИ ВРЕМЕННОГО РАЗМЕЩЕНИЯ И&nbsp;ПРОЖИВАНИЯ </p>
            <p>
                <b>
                    1. Термины и&nbsp;определения
                </b>
            </p>
            <p>
                <b>
                    Терминология и&nbsp;определения, использованные в&nbsp;настоящем приложении №&nbsp;1&nbsp;к Оферте, применяются только в&nbsp;отношении настоящего приложения №&nbsp;1&nbsp;к Оферте.
                </b>
            </p>
            <p>
                <b>Бронирование</b>&nbsp;— резервирование поставщиком услуг по&nbsp;временному размещению и&nbsp;проживанию на&nbsp;условиях, определенных в&nbsp;Заказе, номеров или иных помещений, включая дом (коттедж) и&nbsp;их&nbsp;части, апартаменты, кровать/койко-место в&nbsp;общих помещениях и&nbsp;прочее, для временного размещения и&nbsp;проживания гостей.
            </p>
            <p>
                <b>Ваучер</b>&nbsp;— электронное подтверждение Бронирования от&nbsp;имени поставщика услуг по&nbsp;временному размещению и&nbsp;проживанию, которое Исполнитель направляет Заказчику, после оформления и/или оплаты Заказа.
            </p>
            <p>
                <b>Гость</b>&nbsp;— физическое лицо, в&nbsp;пользу которого совершено Бронирование.
            </p>
            <p>
                <b>Дополнительные услуги</b>&nbsp;— любые дополнительные услуги, оказываемые Отелем или иными Поставщиками услуг, указанные в&nbsp;Ваучере, заказ на&nbsp;которые Заказчик оформил на&nbsp;Сайте.
            </p>
            <p>
                <b>Отель</b>&nbsp;— юридическое лицо или индивидуальный предприниматель, предоставляющие услуги по&nbsp;временному размещению и&nbsp;проживанию гостей (например, отель, мотель, апартаменты, отель типа «постель и&nbsp;завтрак» или хозяин объекта).
            </p>
            <p>
                <b>Платеж</b>&nbsp;— денежные средства, которые уплачиваются Заказчиком в&nbsp;объеме, необходимом для совершения Бронирования. Размер Платежа, необходимый для совершения Бронирования определяется Отелем/агентом Отеля. Платеж также включает Сервисный сбор Исполнителя (возможно отсутствие такого сбора).
            </p>
            <p>
                <b>Правила отмены Бронирования</b>&nbsp;— условия отмены Бронирования, установленные Отелем, включающие правила возврата Заказчику уплаченных средств, начисления штрафных санкций в&nbsp;случае незаезда и&nbsp;т.д. Правила отмены Бронирования доводятся до&nbsp;сведения Заказчика в&nbsp;процессе оформления Заказа, а&nbsp;также указываются в&nbsp;Ваучере.
            </p>
            <p>
                <b>Сервисный сбор Исполнителя (далее&nbsp;— «Сервисный сбор»)</b>&nbsp;— стоимость услуг Исполнителя, взимаемая Исполнителем за&nbsp;оказание от&nbsp;своего имени и&nbsp;за&nbsp;свой счет Заказчику информационно-консультационных услуг, за&nbsp;предоставление Заказчику технической возможности совершения Бронирования на&nbsp;Сайте и&nbsp;прочие сопутствующие услуги Исполнителя, связанные с&nbsp;оформлением или отменой Бронирования, оформлением заказа Дополнительных услуг. Стоимость услуг Исполнителя включена в&nbsp;общую стоимость Заказа, если иное не&nbsp;установлено дополнительно. Сервисный сбор включает в&nbsp;себя НДС согласно ставке, установленной в&nbsp;Налоговом кодексом Российской Федерации.
            </p>
            <p>
                <b>Тариф&nbsp;</b>— система ставок, установленная Отелем, как размер оплаты за&nbsp;предоставленные услуги по&nbsp;временному размещению и&nbsp;проживанию.
            </p>
            <p><b>Услуга Отеля</b>&nbsp;— услуга по&nbsp;временному размещению и&nbsp;проживанию Гостей на&nbsp;условиях, определенных в&nbsp;Заказе, номеров или иных помещений, включая дом (коттедж) и&nbsp;их&nbsp;части, апартаменты, кровать/койко-место в&nbsp;общих помещениях и&nbsp;прочее, для временного размещения и&nbsp;проживания гостей.</p>
            <p>
                <b>
                    2. Общие положения
                </b>
            </p>
            <p>2.1. Исполнитель от&nbsp;имени Отеля или от&nbsp;имени агента Отеля с&nbsp;помощью Сайта оказывает Заказчику следующие услуги:</p>
            <p>
                —&nbsp;предоставление, полученной от&nbsp;поставщиков услуг
            </p>
            <p>&nbsp;— Отелей/агентов Отелей, информации, указанной в&nbsp;п.3.1.3. Оферты, п.&nbsp;2.6. настоящего приложения №&nbsp;1&nbsp;к Оферте;</p>
            <p>
                —&nbsp;оформление Исполнителем Ваучера в&nbsp;соответствии с&nbsp;заданными Заказчиком параметрами (наименование и&nbsp;месторасположение Отеля, даты предполагаемых заезда и&nbsp;выезда Гостей из&nbsp;Отеля, информации о&nbsp;категории номера, конфигурации кроватей, данные о&nbsp;Гостях, Дополнительные услуги);
            </p>
            <p>
                —&nbsp;прием Платежа;
                —&nbsp;оформление Дополнительных услуг к&nbsp;Заказу;
            </p>
            <p>
                —&nbsp;оформление процедуры отмены Бронирования.
            </p>
            <p>
                2.2. Исполнитель от&nbsp;своего имени и&nbsp;за&nbsp;свой счет с&nbsp;помощью Сайта оказывает Заказчику следующие услуги:
            </p>
            <p>
                —&nbsp;предоставление технической возможности оформить Бронирование;
            </p>
            <p>
                —&nbsp;информационно-консультационные услуги через службу поддержки по&nbsp;телефонам: 7-962-900-79-65 (для звонков по&nbsp;России), ;
            </p>
            <p>
                —&nbsp;предоставление технической возможности оплаты Бронирования на&nbsp;Сайте, если это необходимо для оформления Заказа;
            </p>
            <p>
                —&nbsp;информационная поддержка, связанная с&nbsp;отменой Бронирования.
            </p>
            <p>
                2.3. Исполнитель вправе взимать Сервисный сбор Исполнителя за&nbsp;оказание Заказчику услуг, указанных в&nbsp;п.2.2. Оферты, а&nbsp;также за&nbsp;иные заказанные Заказчиком услуги. Сервисный сбор включается в&nbsp;окончательную стоимость Заказа и&nbsp;не&nbsp;подлежит возврату Заказчику ни&nbsp;при каких обстоятельствах, в&nbsp;том числе при последующей отмене Бронирования вне зависимости от&nbsp;причин возврата, если иное не&nbsp;предусмотрено действующим законодательством Российской Федерации. Исполнитель имеет безусловное право менять величину Сервисного сбора.
            </p>
            <p>
                2.4. Исполнитель вправе оказывать содействие Заказчику через службу поддержки по&nbsp;телефону: 7-962-900-79-65 (для звонков по&nbsp;России), .
            </p>
            <p>
                2.5. К&nbsp;отношениям между Заказчиком и&nbsp;Исполнителем применяются положения действующего законодательства РФ.
            </p>
            <p>
                Правоотношения, возникающие при оформлении и&nbsp;отмене Бронирования, равно как и&nbsp;иные условия предоставления Услуги Отеля, регулируются положениями Гражданского кодекса Российской Федерации, Постановлением Правительства РФ&nbsp;от&nbsp;18&nbsp;ноября 2020&nbsp;г. N&nbsp;1853 «Об&nbsp;утверждении Правил предоставления гостиничных услуг в&nbsp;Российской Федерации».
            </p>
            <p>2.6. Информация об&nbsp;Отеле, включая расположение, виды предоставляемых Отелем удобств и&nbsp;услуг, информация о&nbsp;наличии мест, Тарифах Отеля и&nbsp;иная информация об&nbsp;условиях предоставления Услуги Отеля на&nbsp;Сайте представлена в&nbsp;том виде, в&nbsp;котором она была предоставлена от&nbsp;поставщиков услуг&nbsp;— Отелей/ агентов Отелей.</p>
            <p>
                Стоимость услуг Исполнителя (Сервисный сбор) не&nbsp;включается в&nbsp;стоимость Бронирования, но&nbsp;включается в&nbsp;общую стоимость Заказа и&nbsp;указывается на&nbsp;Сайте.
            </p>
            <p>2.7. Принимая условия настоящей Оферты, Заказчик подтверждает свое понимание, что Исполнитель не&nbsp;является Отелем и&nbsp;все договоры о&nbsp;предоставлении услуги временного размещения и&nbsp;проживания Заказчик и/или Гость заключает напрямую с&nbsp;поставщиками услуг временного размещения и&nbsp;проживания&nbsp;— Отелями, и&nbsp;всю ответственность за&nbsp;предоставление услуг временного размещения и&nbsp;проживания перед Заказчиком и/или Гостем в&nbsp;том числе, но, не&nbsp;ограничиваясь: ответственность за&nbsp;незаселение, за&nbsp;уровень обслуживания в&nbsp;Отеле, кражу и&nbsp;утерю багажа и/или ценных вещей, Исполнитель не&nbsp;несет. </p>
            <p>
                Договор, заключаемый Гостем с&nbsp;Отелем на&nbsp;оказание услуг временного размещения и&nbsp;проживания, удостоверяется Ваучером (п.&nbsp;15&nbsp;Правил предоставления гостиничных услуг в&nbsp;Российской Федерации (утв. Постановлением Правительства РФ&nbsp;от&nbsp;18&nbsp;ноября 2020&nbsp;г. №&nbsp;1853)). Оформление Ваучера осуществляется Исполнителем от&nbsp;имени Отеля или от&nbsp;имени агента Отеля после совершения Заказчиком Платежа или без такового, если это предусмотрено условиями Бронирования.
            </p>
            <p>2.8. Ваучер оформляется в&nbsp;соответствии с&nbsp;актуальной информацией об&nbsp;Услугах Отеля, которая представлена Исполнителем в&nbsp;том виде, в&nbsp;котором она была предоставлена от&nbsp;поставщиков услуг —Отелей/ агентов Отелей.</p>
            <p>
                <b>
                    3. Оформление, оплата и&nbsp;подтверждение Заказа
                </b>
            </p>
            <p>
                3.1. При оформлении Заказа Заказчик должен заполнить все поля, указанные как «обязательные» для заполнения на&nbsp;Сайте.
            </p>
            <p>
                3.2. Заказчик самостоятельно определяет параметры (даты заезда/выезда, тип номера, конфигурацию спальных мест, питание и&nbsp;иные условия) заказываемых Услуг Отеля, вносит личные данные свои или Гостя, проверяет корректность внесенной информации.
            </p>
            <p>
                Заказчик самостоятельно несет все риски, связанные с&nbsp;не&nbsp;указанием и/или ненадлежащим указанием персональных данных своих или Гостя, а&nbsp;также с&nbsp;ненадлежащим уведомлением Гостя о&nbsp;заключении и/или изменении условий договора временного размещения и&nbsp;проживания.
            </p>
            <p>
                3.3. Заказчик подтверждает достоверность своих личных данных, а&nbsp;также данных Гостей, указанных в&nbsp;Заказе, и&nbsp;принимает на&nbsp;себя всю ответственность за&nbsp;их&nbsp;точность, полноту и&nbsp;достоверность. Заказчик принимает на&nbsp;себя все возможные коммерческие риски (оформление нового заказа, изменение тарифа, возврат денег и&nbsp;проч.), связанные с&nbsp;его виновными действиями по&nbsp;допущению ошибок, неточностей в&nbsp;предоставлении личных данных и&nbsp;/или данных Гостя.
            </p>
            <p>
                3.3.1. Исполнитель оставляет за&nbsp;собой право по&nbsp;своему усмотрению отказать в&nbsp;оформлении Бронирования.
            </p>
            <p>
                3.4. Заказчик обязан ознакомиться с&nbsp;условиями настоящей Оферты, Правилами отмены Бронирования до&nbsp;перехода на&nbsp;Сайте к&nbsp;шагу оплаты.
            </p>
            <p>
                В&nbsp;случае, если Заказчику не&nbsp;понятны какие-либо условия Заказа, в&nbsp;том числе условия возврата, Заказчик обязан уточнить необходимую ему информацию у&nbsp;Исполнителя по&nbsp;телефонам: 7-962-900-79-65 (для звонков по&nbsp;России), (время работы: круглосуточно).
            </p>
            <p>
                3.5. Стоимость Заказа определяется при оформлении Заказа и&nbsp;включает в&nbsp;себя Тариф Отеля и&nbsp;Сервисный сбор Исполнителя (возможно отсутствие такого сбора).
            </p>
            <p>
                3.6. Ваучер оформляется только после совершения Заказчиком Платежа (после прохождения транзакции оплаты по&nbsp;банковской карте), если это предусмотрено условиями Бронирования. Ваучер оформляется в&nbsp;соответствии с&nbsp;актуальной информацией об&nbsp;Услугах Отеля, которая предоставлена Исполнителем в&nbsp;том виде, в&nbsp;котором она была предоставлена от&nbsp;Отеля /агента Отеля, и&nbsp;параметрами Заказа.
            </p>
            <p>
                В&nbsp;течение&nbsp;10 (десяти) минут после оплаты Заказа, Исполнитель направляет на&nbsp;адрес электронной почты, указанный Заказчиком при оформлении Заказа, Ваучер и&nbsp;размещает его в&nbsp;Личном кабинете.
            </p>
            <p>
                3.7. Договор между Заказчиком&nbsp;/ Гостем и&nbsp;Отелем считается заключенным с&nbsp;момента внесения Платежа и/или оформления Ваучера. Обязанности Исполнителя по&nbsp;Договору считаются выполненными с&nbsp;момента направления на&nbsp;адрес электронной почты, указанный Заказчиком при оформлении Заказа Ваучера.
            </p>
            <p>
                3.8. Окончательная стоимость Заказа отображается в&nbsp;российских рублях. В&nbsp;случае, если валюта банковской карты Заказчика отлична от&nbsp;российских рублей, банк-эмитент карты Заказчика конвертирует указанную сумму в&nbsp;валюту&nbsp;РФ по&nbsp;своему внутреннему курсу, таким образом, сумма в&nbsp;валюте карты может отличаться от&nbsp;окончательной стоимости Заказа. Своей оплатой Заказчик подтверждает, что до&nbsp;момента оплаты получил информацию о&nbsp;внутреннем курсе банка-эмитента карты и&nbsp;размер комиссии банка за&nbsp;конвертацию, и&nbsp;ознакомлен с&nbsp;окончательной стоимостью Заказа в&nbsp;валюте карты.
            </p>
            <p>3.9. После оплаты Заказчиком Заказа с&nbsp;помощью банковской карты, Исполнитель направляет кассовый чек в&nbsp;электронной форме Заказчику на&nbsp;предоставленный им&nbsp;до&nbsp;момента расчета адрес электронной почты или направляет Заказчику на&nbsp;адрес электронной почты, предоставленный Заказчиком до&nbsp;совершения расчета, сведения в&nbsp;электронной форме, идентифицирующие такой кассовый чек, и&nbsp;информацию об&nbsp;адресе информационного ресурса, который размещен в&nbsp;сети «Интернет» и&nbsp;по&nbsp;которому такой кассовый чек может быть бесплатно получен Заказчиком.</p>
            <p>3.10. Отчетные документы на&nbsp;имя Заказчика в&nbsp;форме универсального передаточного документа со&nbsp;статусом 2&nbsp;— передаточный документ (акт) (по&nbsp;форме приложения 1&nbsp;к постановлению Правительства РФ&nbsp;от&nbsp;26.12.2011&nbsp;г. №&nbsp;1137) Исполнитель размещает в&nbsp;Личном кабинете после совершения Заказчиком оплаты Сервисного сбора за&nbsp;предоставление Исполнителем Заказчику технической возможности Бронирования Услуг Отеля.</p>
            <p>3.11. Отчетные документы на&nbsp;имя Заказчика в&nbsp;форме универсального передаточного документа со&nbsp;статусом 2&nbsp;— передаточный документ (акт) (по&nbsp;форме приложения 1&nbsp;к постановлению Правительства РФ&nbsp;от&nbsp;26.12.2011&nbsp;г. №&nbsp;1137) за&nbsp;предоставленные Отелем Заказчику Услуги Отеля Исполнитель размещает в&nbsp;Личном кабинете после выезда Заказчика/Гостя из&nbsp;Отеля.</p>
            <p>
                <b>
                    4. Отмена Бронирования
                </b>
            </p>
            <p>4.1. В&nbsp;случае возникновения необходимости в&nbsp;отмене Бронирования Заказчику необходимо до&nbsp;даты заезда в&nbsp;Личном кабинете отменить Бронирование. При этом в&nbsp;Личном кабинете будет показана сумма к&nbsp;возврату при отмене Бронирования, если таковая предполагается.</p>
            <p>
                Также отмена Бронирования возможна через службу поддержки Исполнителя по&nbsp;телефону: 7-962-900-79-65 (для звонков по&nbsp;России), .
            </p>
            <p>
                4.2. Возврат стоимости услуг Отеля по&nbsp;временному размещению и&nbsp;проживанию производится в&nbsp;размере, установленном Отелем, на&nbsp;расчетный счет (банковскую карту), с&nbsp;которого производилась оплата Заказа, в&nbsp;сроки, установленные правилами платежных систем и&nbsp;законодательством Российской Федерации. Сервисный сбор Исполнителя, возврату не&nbsp;подлежит. Вне зависимости от&nbsp;Правил отмены бронирования, установленных Отелем, Исполнитель оставляет за&nbsp;собой право взимать сервисный сбор за&nbsp;отмену Бронирования.
            </p>
            <p>
                4.3. Относительно возможности внесения изменений в&nbsp;Бронирование после оформления Заказа необходимо уточнить в&nbsp;службе поддержки Исполнителя по&nbsp;телефону: 7-962-900-79-65 (для звонков по&nbsp;России), . В&nbsp;случае возможности внесения изменений, согласование изменений осуществляется по&nbsp;электронной почте, указанной при оформлении Заказа.
            </p>
            <p>4.4. Заказчик принимает на&nbsp;себя все возможные риски (оформление нового Заказа, изменение Тарифа, возврат денежных средств), связанные с&nbsp;допущенными ошибками и&nbsp;неточностями при оформлении Заказа, в&nbsp;том числе, в&nbsp;случае допущения ошибок при предоставлении своих личных данных или личных данных Гостя. Изменение своих персональных данных или персональных данных Гостя в&nbsp;оформленном Бронировании может привести к&nbsp;изменению условий временного размещения и&nbsp;проживания.</p>
            <p>
                <b>
                    5. Персональные данные
                </b>
            </p>
            <p>
                5.1. Исполнитель обязуется использовать все персональные данные Заказчика и/или Гостя, указываемые в&nbsp;процессе оформления Бронирования, исключительно для оказания соответствующих услуг, идентификации и&nbsp;поддержки Заказчика и/или Гостя. Исполнитель обязуется ни&nbsp;при каких условиях не&nbsp;распространять и&nbsp;не&nbsp;передавать личные данные Заказчика и/или Гостя третьим лицам, иначе как в&nbsp;целях оформления Бронирования и&nbsp;за&nbsp;исключением случаев, предусмотренных действующим законодательством Российской Федерации.
            </p>
            <p>5.2. При осуществлении Заказчиком совокупности действий на&nbsp;Сайте:</p>
            <p>
                —&nbsp;оформления Заказа на&nbsp;Сайте на&nbsp;получение услуг, определенных в&nbsp;настоящем приложении №&nbsp;1&nbsp;к Оферте;
            </p>
            <p>
                —&nbsp;совершение акцепта Оферты Заказчиком,
            </p>
            <p>
                Заказчик, действуя свободно, своей волей и&nbsp;в&nbsp;своем интересе, а&nbsp;также подтверждая свою дееспособность, дает согласие Отелю и/или агенту Отеля, а&nbsp;также Исполнителю, осуществляющему обработку персональных данных по&nbsp;поручению Отеля и/или агента Отеля на&nbsp;обработку своих персональных данных и&nbsp;/ или персональных данных Гостя, как полноправный представитель Гостя:
            </p>
            <p>
                —&nbsp;фамилия, имя;
            </p>
            <p>
                —&nbsp;номер телефона;
            </p>
            <p>
                —&nbsp;адрес электронной почты;
            </p>
            <p>
                —&nbsp;данные о&nbsp;Заказе;
            </p>
            <p>
                —&nbsp;возраст ребенка, следующего с&nbsp;основным Гостем.
            </p>
            <p>
                Согласие Заказчика на&nbsp;обработку его и/или Гостя персональных данных является конкретным, информированным и&nbsp;сознательным.
            </p>
            <p>5.3. Предоставляя свои и/или Гостя персональные данные, Заказчик дает Исполнителю согласие на&nbsp;обработку и&nbsp;передачу своих и/или Гостя персональных данных третьим лицам для исполнения Договора, в&nbsp;том числе в&nbsp;целях:</p>
            <p>
                —&nbsp;оказания Исполнителем Заказчику услуг, указанных в&nbsp;Оферте;
            </p>
            <p>
                —&nbsp;обработка входящих и&nbsp;исходящих обращений Заказчика (звонки и&nbsp;письма) для консультирования Заказчика;
            </p>
            <p>
                —&nbsp;внесение изменений в&nbsp;Заказ Заказчика (отмена Бронирования);
            </p>
            <p>
                —&nbsp;предоставление оригиналов отчетных документов Заказчику;
            </p>
            <p>
                —&nbsp;сбор информации и/или информирование Заказчика об&nbsp;изменениях в&nbsp;Заказе;
            </p>
            <p>
                —&nbsp;рассмотрение обращений, мнений, замечаний, вопросов через форму обратной связи;
            </p>
            <p>
                —&nbsp;рассмотрение претензий Заказчика;
            </p>
            <p>
                —&nbsp;уведомление посредством смс-сообщений.
            </p>
            <p>
                Заказчик также дает согласие Исполнителю на&nbsp;передачу его и/или Гостя персональных данных третьим лицам с&nbsp;целями, указанными в&nbsp;п.5.3. Приложения №&nbsp;1&nbsp;к Оферте, и&nbsp;в&nbsp;составе, указанном в&nbsp;п.5.2. Приложения №&nbsp;1&nbsp;к Оферте.
            </p>
            <p>
                Заказчик также предоставляет согласие Исполнителю на&nbsp;совершение следующих действий (операций) с&nbsp;указанными в&nbsp;п.5.2. Приложения №&nbsp;1&nbsp;к Оферте персональными данными его и/или Гостя: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу, блокирование, удаление, уничтожение персональных данных, в&nbsp;том числе трансграничную передачу персональных данных Заказчика и/или Гостя на&nbsp;территории иностранных государств (в&nbsp;т.ч. трансграничную передачу персональных данных Заказчика и/или Гостя на&nbsp;территории стран, не&nbsp;обеспечивающих адекватную защиту персональных данных).
            </p>
            <p>
                В&nbsp;случае, если согласие на&nbsp;обработку персональных данных было отозвано Гостем и&nbsp;Заказчик не&nbsp;известил об&nbsp;этом Исполнителя или в&nbsp;случае, если Заказчик дезинформировал Исполнителя о&nbsp;наличии вышеназванного согласия Гостя и&nbsp;в&nbsp;результате этого Исполнителю были причинены убытки, то&nbsp;Заказчик обязуется компенсировать Исполнителю все понесенные убытки.
            </p>
            <p>
                5.4. Согласие действительно в&nbsp;течение&nbsp;10 (десяти) лет с&nbsp;момента Акцепта Заказчиком Оферты.
            </p>
            <p>
                5.5. Исполнитель обязуется не&nbsp;разглашать полученные от&nbsp;Заказчика персональные данные. Не&nbsp;считается нарушением данного обязательства предоставление Исполнителем персональных данных Отелю и&nbsp;его агентам, для исполнения обязательств перед Заказчиком в&nbsp;рамках настоящей Оферты и&nbsp;договоров с&nbsp;Отелями или их&nbsp;агентами. Не&nbsp;считается нарушением обязательств разглашение персональных данных в&nbsp;соответствии с&nbsp;обоснованными и&nbsp;применимыми требованиями закона.
            </p>
            <p>
                5.6. Заказчик дает согласие на&nbsp;получение информационных материалов по&nbsp;указанным при оформлении Заказа каналам связи, в&nbsp;том числе телефонной связи и&nbsp;электронной почте.
            </p>
            <p>
                5.7. Если Заказчик не&nbsp;желает получать информационные материалы, то&nbsp;Заказчик должен обратиться в&nbsp;службу поддержки с&nbsp;заявлением, направив электронное письмо на&nbsp;адрес: admin@prosto-kemp.ru с&nbsp;адреса электронной почты, указанного в&nbsp;Заказе, с&nbsp;пометкой «Удаление персональных данных».
            </p>
            <p>
                В&nbsp;случае отзыва Заказчиком согласия на&nbsp;получение информационных материалов Исполнитель прекращает осуществлять направление Заказчику информационных материалов в&nbsp;срок, не&nbsp;превышающий трех рабочих дней.
            </p>
            <p>
                Если Заказчик и/или Гость не&nbsp;желают, чтобы их&nbsp;персональные данные обрабатывались, то&nbsp;Заказчик и/или Гость должны направить заявление в&nbsp;письменной форме по&nbsp;адресу: 115230, г. Москва, 1-й Нагатинский&nbsp;пр., д.10, стр.1, этаж 13.
            </p>
            <p>
                В&nbsp;случае отзыва Гостем согласия на&nbsp;обработку его персональных данных Исполнитель при наличии оснований, указанных в&nbsp;пунктах 2-11 части 1&nbsp;статьи&nbsp;6, части 2&nbsp;статьи 10&nbsp;и&nbsp;части 2&nbsp;статьи 11&nbsp;Федерального закона от&nbsp;27.07.2006&nbsp;г. №&nbsp;152-ФЗ «О&nbsp;персональных данных», вправе продолжить обработку персональных данных Гостя. При отсутствии перечисленных выше оснований Исполнитель прекращает обработку персональных данных Гостя и&nbsp;уничтожает персональные данные в&nbsp;срок, не&nbsp;превышающий тридцати календарных дней с&nbsp;даты поступления указанного отзыва.
            </p>
            <p>
                В&nbsp;случае отзыва Заказчиком согласия на&nbsp;обработку его персональных данных Исполнитель при наличии оснований, указанных в&nbsp;пунктах 2-11 части 1&nbsp;статьи&nbsp;6, части 2&nbsp;статьи 10&nbsp;и&nbsp;части 2&nbsp;статьи 11&nbsp;Федерального закона от&nbsp;27.07.2006&nbsp;г. №&nbsp;152-ФЗ «О&nbsp;персональных данных», вправе продолжить обработку персональных данных Заказчика. При отсутствии перечисленных выше оснований Исполнитель прекращает обработку персональных данных Заказчика и&nbsp;уничтожает персональные данные в&nbsp;срок, не&nbsp;превышающий тридцати календарных дней с&nbsp;даты поступления указанного отзыва.
            </p>
            <p>
                <b>
                    6. Иные условия
                </b>
            </p>
            <p>6.1. При возникновении со&nbsp;стороны Заказчика претензий или при наличии замечаний к&nbsp;качеству услуг Исполнителя следует обратиться в&nbsp;службу поддержки Исполнителя по&nbsp;телефонам: 7-962-900-79-65 (для звонков по&nbsp;России) или предъявить претензию в&nbsp;письменном виде в&nbsp;соответствии с&nbsp;разделом 8&nbsp;Оферты.</p>
        </div>
        </div>
    </div>
</div>