@model TourFirm.Models.DataBase.Hotel 

@{
    ViewData["Title"] = "ОНЛАЙН ТУРЫ";
    Layout = "_LayoutTour";
}

<div>
    <img src="~/img/presentTours/@Model.PresentImagePath" alt="Alternate Text" />
    <div>Об отеле</div>
</div>


@section Scripts {

}