@{
    Layout = "_LayoutTour";
}

<div id="findedhotels">
    <section class="popular-block mt-3">
        <div class="container">
            <h3><b>Найденные туры</b></h3>
            <searchedcomponent v-bind:country="@ViewBag.idCountry" v-bind:days="@ViewBag.days" v-bind:humans="@ViewBag.countHumans"></searchedcomponent>

        </div>
    </section>
</div>

<script src="~/scripts/SearchHotels.js" asp-append-version="true"></script>