a {
  text-decoration: none
}

.nav-item .nav-link span {
  color: white;
  border-bottom: 1px solid hsla(0,0%,100%,.4);
  text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}


.nav-item .nav-link:hover, .button-login:hover, .nav-link span:hover {
  transform: scale(1.2);
  color: #89d9f7 !important
}


.nav-item-active .nav-link, .nav-item-active .nav-link span {
  transform: scale(1.2);
  color: #89d9f7
}

.search-button button {
  background-image: linear-gradient(140deg, #00dcff, #0073ff 60%, #aa5aff 80%, #ff4169);
  background-size: 134% 100%;
    transition: .2s background-size ease-in-out;
    cursor: pointer;
    border: 0;
    background-position-x: 5%;
}

.button-login {
  color: white !important;
  border-bottom: 1px dashed hsla(0,0%,100%,.4)!important;
  padding-bottom: 0;
  text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  font-size: 0.8rem;
}

header {
  background-image: url(../img/tourback.jpeg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white
}


header h1 {
  text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  font-size: 30px;
}

.about__header, #searchpanel .form-group label {
    text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
    margin-top: 10px;
    font-size: 16px !important;
}


.header_adv_item img {
  width: 32px;
  height: 32px;
}

.header_adv_item__title span {
  color: white;
  font-size: 16px;
  margin-left: 10px;
  text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  border-bottom: 1px dotted hsla(0,0%,100%,.4);
}


/* Секция популярные направления*/

.popular-item {
    display: inline-block;
    position: relative;
    color: white;
    text-shadow: 0 0px 10px rgb(0 0 0 / 5);
}



.popular-item img {
  width: 100%;
  border-radius: 10px
}

.popular-item__days {
  display: inline-block;
  position: absolute;
  bottom: 40px; left: 0px;
  padding: 5px 5px 5px 10px;
  font-size: 14px;

}

.popular-item__country {
    font-weight: bold;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0px;
    padding: 5px 5px 5px 10px;
    font-size: 22px;
    background: rgba(0,0,0,.2);
    border-radius: 10px
}

.popular-item__price {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(0deg,#2ee2ff,#0a86ff 77.7%,#7f6aff);
    padding: 5px 10px;
    border-radius: 5px;
}

.popular-item__nameHotel {
    position: absolute;
    top: 45%;
    font-size: 1.3rem;
    background: rgba(0,0,0,.3);
    border-radius: 10px;    
}


.popular-item__ratingHotel {
    position: absolute;
    top: 0%;
}

    .popular-item__ratingHotel img {
        width: 44px;
        height: 44px;
    }

.tour-item:hover {
    transform: scale(0.9);
}


/* Не знаете что выбрать - блок */

.what-choose__block {
    background: #fbf4fa
}


    .what-choose__block h3 {
        color: #393749;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

        .what-choose__block h3 > div {
            margin-top: 5px;
            color: #393749;
            font-size: 2rem;
            font-weight: 400;
            text-transform: none;
        }

.what-choose__block__form .form-group {
    color: #000a4b !important;
    font-weight: bold !important;
}

.what-choose__block .header-bid {
    font-size: 18px;
    color: #000a4b;
    font-weight: bold;
}

.what-choose__block button {
    font-size: 18px;
    width: 75% !important;
}

.form-group {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

label {
    margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
    .button-login {
    font-size: 23px;
  }
}

@media (min-width: 1199px){
  .search-button {
    width: 100% !important;
  }

}
